@charset "UTF-8";

$Red: #ff5c5c;
$Very-Dark-Blue: #242942;
$Dark-Grayish-Blue: #5b5f71;
$Grayish-Blue: #a0a1ac;
$Light-Grayish-Blue: #eef3f6;

$Barlow: 'Barlow', sans-serif;
$Barlow-Condensed: 'Barlow Condensed', sans-serif;

