body {
  font-family: "Barlow", sans-serif;
}
body .grey-curved-bg {
  background-color: #eef3f6;
  border-radius: 0 0 0 50px;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}
body .header__nav-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Barlow Condensed", sans-serif;
  gap: 1rem;
  font-size: 1.25rem;
  letter-spacing: 2px;
  right: 0;
  background-color: #fff;
  margin: 1.5rem 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 2px 2px 10px #a0a1ac;
  border-radius: 5px;
}
body .header__nav-menu hr {
  background-color: #a0a1ac;
  width: 100%;
}
body .header__nav-menu-item:nth-child(5) {
  color: #a0a1ac;
}
body .header__hamburguer-menu:checked + .header__nav-menu {
  display: flex;
}
body .main__illustration {
  height: 240px;
  background: url("images/illustration-devices.svg") left center no-repeat;
  background-position: 5px;
  background-size: cover;
}
body .main__header {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #a0a1ac;
  font-weight: 500;
}
body .main__header-new {
  background-color: #242942;
  color: #eef3f6;
  padding: 0 0.6rem;
  letter-spacing: normal;
  border-radius: 20px;
  font-weight: 600;
}
body .main__title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
}
body .main__paragraph {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 25px;
  color: #5b5f71;
}
body .main__button {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: #ff5c5c;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.6rem 1.35rem;
  border-radius: 5px;
  white-space: nowrap;
}
body .main__button-complement {
  font-size: 0.9rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  color: #a0a1ac;
  white-space: nowrap;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  body .grey-curved-bg {
    z-index: -1;
  }
  body .header {
    position: static;
  }
  body .header__nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    right: none;
    align-items: center;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: none;
  }
  body .header__nav-menu hr {
    display: none;
  }
  body .header__icon-label {
    display: none;
  }
  body .header__nav-menu-item:nth-child(5) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  body .header__nav-menu-item:nth-child(5)::before {
    content: url("images/icon-close.svg");
  }
  body .main {
    grid-template-columns: 1fr 1fr;
  }
  body .main__illustration {
    grid-area: 1/2;
    height: 100%;
    background-size: contain;
  }
  body .main__header {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #a0a1ac;
    font-weight: 500;
  }
  body .main__header-new {
    background-color: #242942;
    color: #eef3f6;
    padding: 0 0.6rem;
    letter-spacing: normal;
    border-radius: 20px;
    font-weight: 600;
  }
  body .main__title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 700;
  }
  body .main__paragraph {
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 25px;
    color: #5b5f71;
  }
  body .main__button {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: #ff5c5c;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.6rem 1.35rem;
    border-radius: 5px;
    white-space: nowrap;
  }
  body .main__button-complement {
    font-size: 0.9rem;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    color: #a0a1ac;
    white-space: nowrap;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=style.css.map */