<div class="step-four">
    <app-steps-title-and-description
        [title]="'Finishing up'"
        [description]="'Double-check everything looks OK before confirming'"
    ></app-steps-title-and-description>

    <div class="summary">
        <div class="summary__plan-type">
            <div class="summary__plan-type-container">
                <span class="summary__plan-name"> {{ planName }} ({{ frequency }})</span>
                <button class="summary__change-plan-btn">Change</button>
            </div>
            <span class="summary__plan-price"> {{ planPrice }} </span>
        </div>

        <div class="summary__divider"></div>

        <div class="summary__add-ons">
            <div class="summary__add-on">
                <span class="summary__add-on-name"> {{ addOnName }} </span>
                <span class="summary__add-on-price"> {{ addOnPrice }} </span>
            </div>
            <!-- <div class="summary__add-on">
                <span class="summary__add-on-name">Larger storage</span>
                <span class="summary__add-on-price">+$2/mo</span>
            </div> -->
        </div>
    </div>

    <div class="summary__total">
        <span class="summary__total-text">Total ({{ frequency }})</span>
        <span class="summary__total-price"> {{ totalPrice }} </span>
    </div>

</div>