.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}

.formulario h2 {
  font-size: 2rem;
}

.formulario form {
  max-width: 80%;
  background-color: #f2f2f2;
  padding: 36px 64px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px #00000044;
}
