@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables

$Tomato: #ff6257;
$Orange: #EF8F43;
$Dark-Slate-Grey: #242742;
$Charcoal-Grey: #36384e;
$Grey: #9294a0;
$Border-Grey: #9294a087;
$White: #ffffff;
$Roboto: 'Roboto', sans-serif;
$button-gradient: linear-gradient(to right, $Tomato 60%, $Orange);

body {
    font-family: $Roboto;
    @media (min-width: 900px) {
        background-color: $Charcoal-Grey;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        display: grid;
        @media (min-width: 900px) {
            grid-template-columns: 50% 1fr; //continuar aqui
            gap: 40px;
            background-color: $White;
            max-width: 900px;
            padding: 1.5rem;
            border-radius: 40px;
        }
        .bg-img {
            display: none; // Nenhum // Usar block no JS
            img {
                width: 100%;
                @media (min-width: 900px) {
                    border-radius: 20px;
                }
            }
            @media (min-width: 900px) {
                // grid-area: 1 / 2;
            }

        }        
        .text {
            display: none; // Grid
            gap: 10px;
            padding: 1.5rem;
            @media (min-width: 900px) {
                padding: 3rem 2rem;
                gap: 0px;
            }
            .title {
                font-size: 2.5rem;
                font-weight: 700;
                @media (min-width: 900px) {
                    font-size: 3.5rem;
                }   
            }
            .subtitle {
                font-weight: 500;
            }
            .list {               
                display: flex;
                font-weight: 500;
                flex-direction: column;
                gap: 10px;
                margin: 1rem 0 .4rem;
                .list-item{
                    display: flex;
                    gap: 10px;
                    &::before {
                        content: url('assets/images/icon-list.svg');
                        transform: translateY(3px);
                    }
                }
            }
            .form {
                margin: 1rem 0;
                display: grid;
                gap: 5px;
                .form-header {
                    font-size: .8rem;
                    font-weight: 600;
                }
                .email {
                    border: 1px solid $Border-Grey;
                    border-radius: 8px;
                    padding: 1rem 1.5rem;
                    width: 100%;
                }
                .subscribe {
                    background-color: $Dark-Slate-Grey;
                    color: $White;
                    padding: 1rem;
                    border-radius: 8px;
                    margin: 1rem 0 0 0;
                    &:hover {
                        background-image: $button-gradient;
                        box-shadow: 1px 1px 10px $Tomato;
                    }
                }
            }
        }
        .success-message {
            height: 100vh;
            display: grid; //Grid
            place-items: center;
            padding: 1.5rem;
            @media (min-width: 900px) {
                height: auto;
                
            }   

            .message {
                display: grid;
                gap: 25px;
            }
            .thank-you {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 40px;
            }
            .dismiss {
                width: 100%;
                align-self: flex-end;
                background-color: $Dark-Slate-Grey;
                color: $White;
                padding: 1rem;
                border-radius: 8px;
                margin: 1rem 0 0 0;
                &:hover {
                    background-image: $button-gradient;
                    box-shadow: 1px 1px 10px $Tomato;
                }
            }
        }
    }
}