<mat-tab-group [(selectedIndex)]="currentTabIndex">
    <mat-tab>
        <ng-template mat-tab-label>
            Geral
            <mat-icon 
                class="red-circle-icon"
                *ngIf="isInEditMode && generalInformation.invalid"
            >circle</mat-icon>
        </ng-template>
        <app-general-information 
            *ngIf="!isInEditMode"
            [user]="userSelected"
        ></app-general-information>
        <app-general-information-edit 
            *ngIf="isInEditMode"
            [userForm]="userForm"
            [countriesList]="countriesList"
            [statesList]="statesList"
            (onCountrySelectedEmit)="onCountrySelected($event)"
        ></app-general-information-edit>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Contato
            <mat-icon 
                class="red-circle-icon"
                *ngIf="isInEditMode && contactInformation.invalid"
            >circle</mat-icon>
        </ng-template>
        <app-contact-information 
            *ngIf="!isInEditMode"
            [user]="userSelected"
        ></app-contact-information>
        <app-contact-information-edit 
            *ngIf="isInEditMode"
            [userForm]="userForm"
        ></app-contact-information-edit>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Geral
            <mat-icon 
                class="red-circle-icon"
                *ngIf="isInEditMode && dependentsList.invalid"
            >circle</mat-icon>
        </ng-template>
        <app-dependents-list 
            *ngIf="!isInEditMode"
            [dependentsList]="userSelected.dependentsList"
        ></app-dependents-list>
        <app-dependents-list-edit 
            *ngIf="isInEditMode"
            [userForm]="userForm"
            (onRemoveDependent)="removeDependent($event)"
            (onAddDependent)="addDependent()"
        ></app-dependents-list-edit>
    </mat-tab>
</mat-tab-group>