@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #3970BE;
    --azul-claro: #E5F1FF;
    --azul-escuro: #154580;
    --branco: #FFFFFF;
    --preto: #000000;
    --roboto: 'Roboto';
}

body {
    font-family: var(--roboto);
}

.cabeçalho {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones {
    display: flex;
    align-items: center;
    gap: 25px;
}

.principal {
    background-color: var(--azul-claro);
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: .9em;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--azul-escuro);
}

.menu-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: var(--branco);
    font-size: .9em;
}

.opcoes {
    overflow: scroll;
}

.opcoes-lista {
    display: flex;
    gap: 10px;
    list-style-type: none;
    white-space: nowrap;
    padding: 1em;
}

.opcoes-lista-item {
    background-color: var(--branco);
    padding: .4em 1em;
    border-radius: 30px;
}

.opcoes-lista-item a {
    text-decoration: none;
    color: black;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 7px;
    font-size: .85em;
    line-height: 10px;
}

.video-titulo {
    font-weight: 600;
}