@use 'variables';

@media screen and (min-width: 768px) {
    body {
        min-height: 100vh;
        .logo {
            margin: 1rem 0;
        }
        
        .container {
            max-width: 900px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
            .form {
                grid-area: 1 / 1;
            }
            .tip-percentage {
                grid-area: 2 / 1;
            }
            .form-two {
                grid-area: 3 / 1;
            }
            .result {
                grid-area: 1 / 2 / 4;
            }
        }
    }
}
