<h1>
    Data convertida para região: 
    <br>
    <b>{{ minhaData | date : "full" }}</b>

    <br><br>

    Data UTC-0: 
    <br>
    <b>{{ minhaData | date : "full" : "+0000" }}</b>

    <br><br>

    Formato Timestamp: 
    <br>
    <b>{{ 1730149200000 | date : "full" }}</b>

    <br><br>

    TimeStamp UTC-0: 
    <br>
    <b>{{ 1730149200000 | date : "full" : "+0000" }}</b>

    <br><br>

    Formato Date Obj: 
    <br>
    <b>{{ minhaDataObj | date : "full" : "+0000" }}</b>

    <br><br>

</h1>
