* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", monospace;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.25rem;
    background-color: #fefcfd;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: #141414;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 1rem;
}

.header-icon {
    color: #4CE1A0;
    font-size: 1.5rem;
}

.navbar-list {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    list-style-type: none;
}

.navbar-list-item-link {
    text-decoration: none;
    color: white;    
    transition: color .2s ease;
}

.navbar-list-item-link:hover {
    color: #4CE1A0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 4rem;
}

main > * + * {
    padding-top: 3rem;
}

.sobre-mim, .experiencia, .idiomas, .ranking-de-empresas, .contato {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.foto-nome {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.sobre-mim-titulo {
    font-size: 3.5rem;
}

.nome-e-cargo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cargo {
    background-color: #4CE1A0;
    color: white;
    white-space: nowrap;
    box-shadow: 10px 10px 0 #141414;
    border: 3px solid #141414;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    text-align: center;
}

.profile-picture {
    border-radius: 50px;
    box-shadow: 10px 10px 0 #141414;
    border: 5px solid #141414;
    width: 250px;
}

.subtitulos {
    background-color: #4CE1A0;
    color: white;
    box-shadow: 4px 4px 0 #141414;
    border: 3px solid #141414;
    max-width: fit-content;
    padding: .25rem 1rem;
    border-radius: 30px;
    font-size: 1.5rem;
    transform: translate(40px, 32px);
}

.sobre-mim p {
    border: 3px solid #141414;
    box-shadow: 6px 6px 0 #141414;
    border-radius: 50px;
    padding: 1.75rem 2rem;
    text-indent: 30px;
    line-height: 1.5;
    text-align: justify;
    background-color: white;
}

.frontendmentor-link {
    text-decoration: none;
    font-weight: 600;
    color: #4CE1A0;
}

.frontendmentor-link:hover {
    text-decoration: underline;
}

table {
    text-align: start;
    table-layout: fixed;
    border: 3px solid #141414;
    box-shadow: 6px 6px 0 #141414;
    border-radius: 50px;
    padding: 1.75rem 2rem;
    background-color: white;
}

th, td {
    padding: 0.5rem;
    width: auto;
}

.empresa-e-logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    white-space: nowrap;
}

.linguagens img, .logo-da-empresa {
    width: 30px;
}

.linguagens span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.idiomas-falados {
    padding: 1.75rem 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid #141414;
    box-shadow: 6px 6px 0 #141414;
    border-radius: 50px;
    background-color: white;
}

.portugues, .ingles {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.portugues span, .ingles span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flags {
    max-width: 30px;
}

.lista-de-empresas {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 50px;
    box-shadow: 10px 10px 0 #141414;
    border: 5px solid #141414;
    padding: 2rem;
    background-color: white;
}

.formulario {
    border: 1px solid black;
    padding: 2rem 4rem;
    border-radius: 50px;
    box-shadow: 10px 10px 0 #141414;
    border: 5px solid #141414;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formulario input, .formulario textarea {
    font-family: "Space Grotesk";
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.nome {
    grid-area: 1 / 1 / 2 / 2;
}

.email {
    grid-area: 1 / 2 / 2 / 3;
}

.mensagem {
    grid-area: 2 / 1 / 3 / 3;
}

.formulario > button {
    grid-area: 3 / 1 / 4 / 3;
    font-family: "Space Grotesk";
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    background-color: #4CE1A0;
    transition: opacity .2s ease;
    cursor: pointer;
}

.formulario > button:hover {
    opacity: .7;
}

.footer {
    background-color: #141414;
    color: #fefcfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.footer a {
    text-decoration: none;
    color: #fefcfd;
    font-weight: 700;
    font-size: 1.5rem;
}

.social-media {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.social-media img {
    height: 25px;
    width: 25px;
}
