<p>teste</p>
{{ 12.3 | number : '3.0-2' : 'en-US' }} -> 012.3
<br>

{{ 1212.3 | number : '4.0-2' : 'en-US' }} -> 1,212.3
<br>

{{ 12.3 | number : '0.2-3' : 'en-US' }} -> 12.30
<br>

{{ 12.352 | number : '0.3-4' : 'en-US' }} -> 12.352
<br>

{{ 12.34 | number : '0.0-1' : 'en-US' }} -> 12.3
<br>

{{ 12.35 | number : '0.0-1' : 'en-US' }} -> 12.4
<br>

{{ 12.3577 | number : '0.0-2' : 'en-US' }} -> 12.36
<br>

{{ 12.5 | number : '0.0-0' : 'en-US' }} -> 13
<br>

{{ 1235.5 | number : undefined : 'en-US' }} -> 1,235.5
<br>
