<div class="container">
    <div class="item">

        <app-card>
            <app-card-header>
                <div class="card__header">
                    <img src="icons/user.svg" alt="" appSmallImage>
                </div>
            </app-card-header>

            <app-card-content>
                <div class="card__content">
                    <p appCardDescriptionText>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum hic, est officia, laudantium, sequi architecto delectus possimus repudiandae neque enim magni. Vitae dolor quasi reprehenderit aut aliquam. Ipsum ut, incidunt magnam saepe, nobis nemo, ex iure a quae repellat excepturi!</p>
                </div>
            </app-card-content>

        </app-card>

    </div>
    <div class="item">
        <app-card>
            <app-card-header>
                <div class="card__header card__header--direction-column">
                    <h1 appCardMainText>Daniel Mariz</h1>
                    <img src="icons/user.svg" alt="" appLargeImage>
                    <h3 appCardSubText>Desenvolvedor Front-end</h3>
                </div>
            </app-card-header>
            <app-card-content>
                <div class="card__content">
                    <p appCardDescriptionText>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus pariatur modi porro neque quam inventore minus laboriosam dolore alias commodi voluptate optio amet excepturi corrupti eos debitis exercitationem eveniet, doloribus harum. Asperiores dolor repellendus accusantium laudantium beatae deserunt repellat, porro, ea iste blanditiis eaque hic numquam similique voluptatibus aliquam et.</p>
                </div>
            </app-card-content>
        </app-card>
    </div>
</div>