.lista-suspensa {
  margin: 32px 0;
}

.lista-suspensa label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.lista-suspensa select {
  background: #fff;
  box-shadow: 10px 10px 30px #00000042;
  border: none;
  font-size: 24px;
  padding: 24px;
  width: 100%;
  border-radius: 10px;
}