.card {
  background-color: #cccccc;
  color: black;
  width: 100%;
  padding: 1rem;
  text-align: center; 
  border-radius: 5px;
  transform: translateY(50%);
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
  }
  span {
    font-size: 4rem;
    line-height: 1;
  }
}
