@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #E61F0A;
    --color-hover: #355969;
    --color-hover-2: #109B85;
    --font-montserrat: 'Montserrat';
    --font-krona: 'Krona One';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 3% 8.6% 0;
}

header > nav {
    display: flex;
    gap: 80px;
}

header > nav > a {
    font-size: 1.5rem;
    font-family: var(--font-montserrat), sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-blue);
}

header > nav > a:hover {
    color: var(--color-hover-2);
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
}

main {
    display: flex; 
    padding: 5% 8% 8%;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
}

main > img {
    width: 45%;
    border-radius: 5%;
    box-shadow: 5px -5px 8px #E61F0A;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

section > h1 {
    color: white;
    font-family: var(--font-krona), sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 45px;
}

strong {
    color: var(--color-blue);
}

section > p {
    color: var(--color-white);
    font-family: var(--font-montserrat), sans-serif;
    font-size: 1rem;
    line-height: 25px;
}

section > div.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

section > ul {
    padding-left: 20px;
}

section > ul > li {
    font-family: var(--font-montserrat), sans-serif;
}

section > ul > li > span {
    color: var(--color-blue);
}

div.links > h2 {
    font-size: 1em;
    font-family: var(--font-krona), sans-serif;
    font-weight: 400;
    color: var(--color-white);
}

section > div.links > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-montserrat), sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    width: 90%;
    height: 60px;
    border-radius: 15px;
}

section > div.links > a:hover {
    background-color: var(--color-hover);
    transition: .4s ease;
}

footer {
    font-family: var(--font-krona), sans-serif;
    color: var(--color-black);
    background-color: var(--color-blue);
    padding: 15px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--color-black);
}

footer a:hover {
    text-decoration: underline;
    color: var(--color-hover-2);
}

@media screen and (max-width: 768px) {
    header > nav {
        justify-content: center;
        padding-top: 5%;
        gap: 30px;
    }

    header > nav > a {
        font-size: 3.8vw;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    main > img {
        margin: 5% 0 0;
        width: 60%;
    }

    section {
        width: auto;
        padding: 0 3%;
        justify-content: center;
    }

    section > h1 {
        font-size: 1.3rem;
        line-height: 32px;
    }

    section > ul > li {
        font-size: .8rem;
    }

    footer > p {
        font-size: .8rem;
    }




}

