#article {
    display: flex;
    gap: 1rem;
}

.article-infos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 12px;
}

.article-infos h3 {
    font-size: 20px;
    font-weight: 400;
    color: #8695A4;
    margin-bottom: 1rem;
}

.article-infos p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}