@import '../abstract/variaveis';

nav {
    text-align: center;
    ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;

        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $cor-secundaria;
                font-weight: bold;
                &:hover {
                    border-bottom: 2px solid $cor-terciaria;
                }
            }
        }
    }
}