<!-- <app-for-syntax/> -->
<!-- <app-ng-container/> -->
<!-- <app-view-child/> -->
<!-- <app-content-projection>
    <p>teste projetado via tag</p>
    <h1 class="h1" #titulo> titulo projetado via classe </h1>
    <section class="section">
        seção projetada via classe
    </section>

    <span>
        projetado sem identificador nenhum
    </span>
    <app-view-child/>
    <app-view-child/>
</app-content-projection> -->

<!-- <app-ng-template [templateRef]="example"/>

<ng-template #example 
    let-tecnologia="tecnologia"
    let-experiencia="experiencia"
    let-cargo="cargo"
    let-empresa="empresa">
    <p>Eu estudo {{ tecnologia }}, tenho {{ experiencia }} anos de experiência e sou {{ cargo }} na empresa {{ empresa }}. </p>
    <img src="favicon.ico" alt="">
</ng-template> -->

<!-- <app-directives></app-directives> -->

<!-- <app-view-encapsulation></app-view-encapsulation>

<div class="teste">
    <app-view-encapsulation></app-view-encapsulation>
</div> -->

<!-- <app-dependency-injection></app-dependency-injection> -->

<!-- <button (click)="mudarTexto()">Mudar texto</button>
<br>
<app-change-detection [textoDoComponentePai]="textoParaComponenteFilho"></app-change-detection> -->

<app-lifecycle-hooks></app-lifecycle-hooks>

