@charset "UTF-8";

$Dark-Blue: #1c2431;
$Dark-Blue-two: #181f2a;
$Dark-Blue-three: #0b1523;
$Dark-Blue-four: #202a3c;
$Cyan: #65e2d9;
$Blue: #339ecc;
$Light-Red: #ff4242;
$White: #ffffff;

$Raleway: 'Raleway', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;

