body {
  background-color: #181f2a;
  margin: 1.5rem;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
body .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header__img {
  width: 90px;
}
body .header__nav {
  display: flex;
  gap: 1rem;
}
body .header__link {
  font-size: 0.75rem;
  font-weight: 300;
}
body .container {
  display: grid;
  text-align: center;
}
body .container .section-one {
  display: grid;
  gap: 1rem;
  margin: 3rem 1rem;
}
body .container .section-one__img {
  margin: 0 auto 1rem;
  width: 100%;
}
body .container .section-one__title {
  font-size: 1.45rem;
  font-weight: 700;
}
body .container .section-one__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}
body .container .section-one__button {
  background-color: #339ecc;
  font-size: 0.9rem;
  font-weight: 700;
  width: 70%;
  margin: 1rem auto;
  padding: 0.8rem 0;
  border-radius: 30px;
}
body .container .section-two {
  display: grid;
  gap: 1rem;
  margin: 3.5rem 0;
  padding: 0.9rem;
}
body .container .section-two__containers {
  display: grid;
  margin-bottom: 4rem;
}
body .container .section-two__icon {
  width: 60px;
  margin: 0 auto 1.5rem;
}
body .container .section-two__titles {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 700;
}
body .container .section-two__paragraphs {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
}
body .container .section-three {
  display: grid;
  gap: 1rem;
  padding: 0.8rem;
}
body .container .section-three__title {
  font-size: 1.1rem;
  font-weight: 700;
}
body .container .section-three__paragraphs {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  text-align: start;
}
body .container .section-three__link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
}
body .container .section-three__link img {
  width: 18px;
  height: 18px;
}
body .container .testimonials {
  margin: 9rem 1.5rem;
  display: grid;
  gap: 1.5rem;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
body .container .testimonials__quote-img {
  position: absolute;
  top: -16px;
  left: 5px;
  width: 20px;
}
body .container .testimonials__container {
  display: grid;
  gap: 1rem;
  background-color: #202f48;
  padding: 1.5rem;
  border-radius: 5px;
}
body .container .testimonials__testimonial {
  text-align: start;
  font-size: 0.65rem;
  line-height: 18px;
  font-weight: 300;
}
body .container .testimonials__profile {
  display: grid;
  grid-template-columns: 35px 1fr;
  letter-spacing: 1px;
  font-size: 0.55rem;
}
body .container .testimonials__profile img {
  width: 25px;
  border-radius: 50%;
  grid-area: 1/1/3;
}
body .container .testimonials__name {
  grid-area: 1/2;
  text-align: start;
  align-self: flex-end;
  font-weight: 800;
}
body .container .testimonials__job-position {
  grid: 2/2;
  text-align: start;
  align-self: flex-start;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */