@charset "UTF-8";

// Variables

$White: #ffffff;
$Light-pink: #f9f0ff;
$Grayish-purple: #8c6991;
$Bg-pink: #f3e6fa;
$Dark-purple: #2f1533;

$Work-Sans: 'Work Sans', sans-serif;

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Work-Sans;
}

body {
    background: $Bg-pink url('assets/images/background-pattern-mobile.svg') top center no-repeat;
    background-size: ;
    .container {
        .star-img {
            width: 25px;
        }
        .faq-text {
            font-size: 2rem;
            font-weight: 800;
        }
        .question {
            .question-text {
                line-height: 18px;
            }
            .label {
                .plus-img {
                    min-width: 30px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .answer {
            color: $Grayish-purple;
            font-size: .85rem;
            font-weight: 500;
            opacity: .8;
        }

    }
}

