:root {
    --Roboto: "Roboto", sans-serif;
    --Grenze: "Grenze", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: white;
    font-family: var(--Roboto);
}

a {
    text-decoration: none;
}

section#articles {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 4rem auto;
    max-width: 1240px;
    padding: 0 2rem;
}

section#articles img {
    max-width: 350px;
    border-radius: 5px;
}

.loader {
    margin: 2rem auto;
}