<div class="p-4 grid gap-4">
    <p class="text-2xl font-semibold">Telefones:</p>
    
    <div class="grid lg:grid-cols-3 lg:gap-4">
        <mat-form-field>
            <mat-label>Residencial:</mat-label>
            <input type="text" matInput placeholder="+55 11 1234-1232">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Celular:</mat-label>
            <input type="text" matInput placeholder="+55 11 91234-1232">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Emergência:</mat-label>
            <input type="text" matInput placeholder="+55 11 1234-1232">
        </mat-form-field>
    </div>
    
    <p class="text-2xl font-semibold">Endereços:</p>

    <div>
        <div class="grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
            <mat-form-field>
                <mat-label>Tipo:</mat-label>
                <input type="text" matInput placeholder="Residencial" disabled>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rua:</mat-label>
                <input type="text" matInput placeholder="Rua">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Complemento:</mat-label>
                <input type="text" matInput placeholder="Próximo ao parque">
            </mat-form-field>
            <mat-form-field>
                <mat-label>País:</mat-label>
                <input type="text" matInput placeholder="Brazil">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Estado:</mat-label>
                <input type="text" matInput placeholder="São Paulo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cidade:</mat-label>
                <input type="text" matInput placeholder="Guarulhos">
            </mat-form-field>
        </div>
        <hr class="mb-4">
        <div class="grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
            <mat-form-field>
                <mat-label>Tipo:</mat-label>
                <input type="text" matInput placeholder="Trabalho" disabled>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rua:</mat-label>
                <input type="text" matInput placeholder="Rua">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Complemento:</mat-label>
                <input type="text" matInput placeholder="Próximo ao parque">
            </mat-form-field>
            <mat-form-field>
                <mat-label>País:</mat-label>
                <input type="text" matInput placeholder="Brazil">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Estado:</mat-label>
                <input type="text" matInput placeholder="São Paulo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cidade:</mat-label>
                <input type="text" matInput placeholder="Guarulhos">
            </mat-form-field>
        </div>
        <hr class="mb-4">
        <div class="grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
            <mat-form-field>
                <mat-label>Tipo:</mat-label>
                <input type="text" matInput placeholder="Alternativo" disabled>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rua:</mat-label>
                <input type="text" matInput placeholder="Rua">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Complemento:</mat-label>
                <input type="text" matInput placeholder="Próximo ao parque">
            </mat-form-field>
            <mat-form-field>
                <mat-label>País:</mat-label>
                <input type="text" matInput placeholder="Brazil">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Estado:</mat-label>
                <input type="text" matInput placeholder="São Paulo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cidade:</mat-label>
                <input type="text" matInput placeholder="Guarulhos">
            </mat-form-field>
        </div>
        <hr class="mb-4">
    </div>
</div>
