@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

:root {
    --verde: #96CD30;
    --laranja: #F1B200;
    --amarelo: #EADA00;
    --rosa: #EB8E8E;
    --azul-claro: #A2C7D3;
    --verde-escuro: #4DB6AC;
    --azul-medio: #70CBEB;
    --azul-escuro: #2793E0;
    --azul-piscina: #90E3E9;
    --roxo: #DCADD6;
}

/* CLASSES REUTILIZÁVEIS  */

.nao-metais {
    background-color: var(--verde);
}

.gases-nobres {
    background-color: var(--azul-escuro);
}

.metais-alcalinos {
    background-color: var(--laranja);
}

.metais-alcalinos-terrosos {
    background-color: var(--amarelo);
}

.semimetais {
    background-color: var(--verde-escuro);
}

.halogenios {
    background-color: var(--azul-medio);
}

.outros-metais {
    background-color: var(--azul-claro);
}

.metais-de-transicao {
    background-color: var(--rosa);
}

.lantanideos {
    background-color: var(--azul-piscina);
}

.actinideos {
    background-color: var(--roxo);
}

/* FINAL CLASSES REUTILIZÁVEIS */

body {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    margin: 1em 0 0 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 950px;
    margin: auto;
    gap: 3px;
    position: relative;
}

.descricao-elemento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 520px;
    background-color: var(--azul-claro);
    padding: .7em;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 109px;
}

.d-e-caixa {
    text-align: center;
    background-color: var(--verde);
}

.d-e-caixa-sigla {
    font-size: 2.3em;
    padding: .2em 0 0 0;
}

.d-e-caixa-nome {
    font-size: 1em;
    padding: 0 .7em .5em;
}

.d-e-caixa-numeros{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-e-caixa-numeros-p {
    padding: .3em .85em;
    font-weight: 700;
    background-color: var(--laranja);
}

.d-e-caixa-numeros-p2 {
    padding: .2em .7em;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.elemento1, .elemento2,
.elemento3, .elemento4,
.elemento5, .elemento6,
.elemento7, .elemento8,
.elemento9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .1em .4em;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.elemento1:hover,
.elemento2:hover, .elemento3:hover,
.elemento4:hover, .elemento5:hover,
.elemento6:hover, .elemento7:hover,
.elemento8:hover, .elemento9:hover {
    scale: 1.07;
    transition: .5s ease;
    cursor: pointer;
}

.numero-atomico {
    font-size: .6em;
    align-self: flex-start;
}

.sigla-elemento {
    font-size: 1.2em;
}

/* LINHA 1 */

.linha1 {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

/* LINHA 2 */

.linha2, .linha3, .linha4, .linha5, .linha6, .linha7, .linha8, .linha9 {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.elemento2:nth-child(2), .elemento3:nth-child(2) {
    margin-right: auto;
}

.linha6 > p, .linha7 > p {
    font-size: .8em;
    margin: auto;
}




