<!-- <app-sem-diretiva></app-sem-diretiva>

<app-com-diretiva></app-com-diretiva> -->

<!-- <button disabled>Meu botão</button>
<button [attr.disabled]="true">Meu botão attr</button>
<button [disabled]="false">Meu botão property</button>
<button appDisabled>Meu botão attrDiretiva</button> -->

<!-- <p appStyle>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem vero vitae modi omnis magni iste aperiam non officiis sequi id enim ea, dolore corrupti voluptates saepe quis voluptatum itaque totam, necessitatibus iure doloribus nulla, ullam adipisci? Id laudantium neque libero similique eum minus necessitatibus voluptas, dolor iste distinctio possimus quidem.</p> -->

<!-- <p class="meu-texto">Lorem, ipsum</p>

<p [attr.class]="'meu-texto'">Lorem, ipsum</p>

<p [className]="'meu-texto meu-size'">Lorem, ipsum</p>

<p appClass >Lorem, ipsum</p> -->

<!-- <input appListener type="text"> -->

<p 
    appInputBackground 
    [bgColor]="appBgColor"
    tColor="orange"
>Teste</p>

<p 
    appInputBackground 
    bgColor="red"
    tColor="white"
>Teste</p>



