@charset "UTF-8";

// Variables

$Gradient: linear-gradient(to right, #ffa399, #ff4d97);
$Pale-Blue: #dddbff;
$Grayish-Blue: #848794;
$Dark-Blue: #1d2c67;
$Very-Dark-Blue: #0c122c;
$Raleway: 'Raleway', sans-serif;

.bubble {
    position: relative;
    width: 190px;
    height: 120px;
    padding: 0px;
    background: #CF5858;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 10px 10px 0px 10px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 53px 17px 0;
    border-color: #CF5858 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -53px;
    left: 156px;
}