:root {
    --color-primary: #123654;
}

input[type="number"] {
    color: var(--color-primary);
}

.images {
    margin: 2rem;
}

.img2 {
    position: relative;
    top: 30px;
}

.img3 {
    transform: translateY(30px);
}