@use "../../../scss/variables" as var;

.steps {
    background: url(../../../assets/images/bg-sidebar-mobile.svg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 0 0;
    min-height: 170px;
    &__btn {
        padding: .5rem .75rem;
        border-radius: 100%;
        border: 1px solid var.$White;
        font-weight: bold;
        background-color: transparent;
        color: var.$White;
        cursor: pointer;
    }
}

.focus {
    background-color: var.$Light-blue;
    color: var.$Marine-blue;
    border-color: var.$Light-blue;
}