@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nasc{
    width: 80px;
    padding: 5px;
}

#botao {
    display: block;
    margin: 1em 0;
    width: 95px;
    padding: 10px;
}