@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
}

main > img {
    width: 482px;
    height: 550px;
}

section {
    margin: 35px 58px 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
    width: 615px;
    height: 482px;
}

section > h1 {
    color: white;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
}

strong {
    color: #22D4FD;
}

section > p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
}

section > div {
    display: flex;
    justify-content: space-between;
}

section > div > a {
    background-color: #22D4FD;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 280px;
    height: 79px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
}


