.posts {
    display: grid;
    gap: 0.5rem;
    &__list {
        display: grid;
        gap: 0.5rem;
    }
    &__list-item {
        &:nth-child(even) {
            background-color: #bb95953c;
        }
    }
}