<!-- <textarea 
    ngModel
    #meuInputFormControl="ngModel"
    minlength="5"
    required
></textarea> -->

<!-- <textarea 
    [(ngModel)]="text"
    #meuInputFormControl="ngModel"
    minlength="5"
    required
></textarea> -->

<textarea 
    [ngModel]="text"
    (ngModelChange)="onChange($event)"
    #meuInputFormControl="ngModel"
    minlength="5"
    required
></textarea>

<p>Válido: {{ meuInputFormControl.valid }}</p>
<p>Foi tocado: {{ meuInputFormControl.touched }}</p>
<p>Sujo: {{ meuInputFormControl.dirty }}</p>

<br>

<button
    (click)="showText()"
    [disabled]="meuInputFormControl.invalid"
    >Enviar</button>