@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --cor-01: #167BF7;
    --cor-02: #00030C;
    --cor-03: #084085;
    --fonte-01: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-02);
    color: white;
    font-family: var(--fonte-01);
}

main {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

main h1 {
    font-size: 48px;
}

.background {
    height: 100vh;
    background: var(--cor-02) url('imagens/Background.png') right center no-repeat;
    background-size: contain;
}

.section01 {
    padding: 125px 0 50px 0;
    margin-left: 54px;
    width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section01 > h2 {
    padding: 0 0 10px 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.section01 > img {
    padding: 11px 0 20px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 10px 0;
}

.section01 > div.botoes > a {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 16px;
    width: 512px;
    text-align: center;
}

.botoes > a.azul {
    background-color: var(--cor-01);
    border: 1px solid var(--cor-01);
}

.botoes > a.transparente {
    border: 1px solid white;
}

.section01 > p {
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.section02,
.section03,
.section04 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.section02 > div.div02,
.section03 > div,
.section04 > div.div04 {
    width: 588px;
}

.section02 > div.div02 > h1 {
    margin-bottom: 10px;
}

.section02 > div.div02 > p,
.section03 > div > p,
.div04 > p  {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section03 > div > p {
    padding-bottom: 30px;
}

.section03 > div > a {
    text-decoration: none;
    color: white;
    background-color: var(--cor-01);
    padding: 16px;
    border-radius: 8px;
}

.section05 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.section05 > div.div05 {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 130px;
}

footer > img {
    align-self: center;
}

footer > div.links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

footer > div.links > a {
    padding: 40px 0 24px 0;
    text-decoration: none;
    color: white;
}

div.background > .section01 > .botoes > .azul:hover,
div.background > .section01 > .botoes > .transparente:hover,
.section03 > .div03 > a:hover {
    background-color: var(--cor-03);
    color: white;
}


footer > p {
    padding: 0 120px 60px;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}

footer > .links > a:hover {
    color: var(--cor-01);
}



@media screen and (max-width: 1200px) {
    main {
        align-items: center;
    }
    .background {
        margin: auto;
        height: auto;
        background: var(--cor-02);
    }

    .section01 {
        margin: 0;
        width: 450px;
        padding: 80px 0 0 0;
    }
    
    .section01 > h2 {
        font-size: 24px;
    }

    .section01 > div.botoes > a {
        padding: 16px;
        width: 350px;
        text-align: center;
    }

    .section02 > div.div02,
    .section03 > div,
    .section04 > div.div04 {
        width: 450px;
    }

    main img {
        width: 60%;
    }

    .section02,
    .section03,
    .section04 {
        text-align: center;
        margin: auto;
        flex-direction: column;
        gap: 20px;
    }

    .div02 > h1,
    .div04 > h1 {
        font-size: 30px;
    }

    .section05 > h1 {
        font-size: 22px;
    }

    .section03 {
        flex-direction: column-reverse;
    }

    .div05 {
        flex-direction: column;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding-top: 90px;
    }

    footer > img {
        padding-bottom: 30px;
    }

    footer > div.links {
        margin: 10px 0 40px;
    }

    footer > div.links > a {
        padding: 0;
    }

}






