@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --cor-01: #167BF7;
    --cor-02: #00030C;
    --fonte-01: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-02);
    color: white;
    font-family: var(--fonte-01);
}

main {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.background {
    width: 100%;
    background: var(--cor-02) url('imagens/Background.png') left center no-repeat scroll;
}

.section01 {
    padding: 125px 0 50px 0;
    margin-left: 54px;
    width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section01 > h2 {
    padding: 0 0 10px 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.section01 > img {
    padding: 11px 0 20px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 10px 0;
}

.section01 > div.botoes > a {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 16px;
    width: 512px;
    text-align: center;
}

.botoes > a.azul {
    background-color: var(--cor-01);
    border: 1px solid var(--cor-01);
}

.botoes > a.transparente {
    border: 1px solid white;
}

.section01 > p {
    font-size: 12px;
    text-align: center;
}

.section02, .section03, .section04 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.section02 > div.div02 {
    width: 588px;
}

.section02 > div.div02 > h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.section02 > div.div02 > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section03 > div {
    width: 588px;
}

.section03 > div > p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
}

.section03 > div > a {
    text-decoration: none;
    color: white;
    background-color: var(--cor-01);
    padding: 16px;
    border-radius: 8px;
}
.section04 > div.div04 {
    width: 588px;
}

.div04 > h1 {
    font-size: 48px;
}

.div04 > p {
    font-size: 16px;
    line-height: 24px;
}

.section05 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.section05 > h1 {
    font-size: 48px;
}

.section05 > div.div05 {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 130px;
}

footer > img {
    align-self: center;
}

footer > div.links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

footer > div.links > a {
    padding: 40px 0 24px 0;
    text-decoration: none;
    color: white;
}

footer > p {
    padding: 0 120px 100px;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}







