<div class="general">
    @if (data$ | async; as infos) {
        <div class="general__row">
            <div class="general__card">
                <p class="poppins-regular">Incidentes no Dia:</p>
                <p class="poppins-semibold"> {{ infos['generalInfos'].incidents.day }} </p>
            </div>
            <div class="general__card">
                <p class="poppins-regular">Pagamentos Pendentes:</p>
                <p class="poppins-semibold">{{ infos['generalInfos'].pendingPayments.pending }}</p>
            </div>
        </div>
        <div class="general__row">
            <div class="general__card">
                <p class="poppins-regular">Contas Criadas:</p>
                <p class="poppins-semibold">+ {{ infos['generalInfos'].newAccounts.accounts }}/dia</p>
            </div>
            <div class="general__card">
                <p class="poppins-regular">Usuários Ativos:</p>
                <p class="poppins-semibold">{{ infos['generalInfos'].activeUsers.users }}</p>
            </div>
        </div>
    }
</div>
