<div class="menu">
    <div class="menu__item">
        <a class="menu__link" (click)="goToInitialPage()"> Inicial </a>
    </div>
    <div class="menu__item">
        <a class="menu__link" (click)="goToContactsPage()"> Contatos </a>
    </div>
    <div class="menu__item">
        <a class="menu__link" (click)="goToInformationPage()"> Informações </a>
    </div>
    <div class="menu__item">
        <a class="menu__link" (click)="goToCardsPage()"> Cartões </a>
    </div>
</div>

<router-outlet></router-outlet>