<form #form="ngForm">
    <input 
        type="text" 
        name="nome" 
        id="nome"
        required
        ngModel
        #input="ngModel"
        placeholder="Digite o nome"
        appUserNameValidator
        [ngModelOptions]="{ updateOn: 'blur' }"
    >

    <div *ngIf="input.dirty">
        <p *ngIf="input.pending" style="color: orange;">Verificando...</p>

        <p *ngIf="!input.pending && input.valid && !input.hasError('invalidUserName')" 
            style="color: green;"
        >
            Este usuário existe!
        </p>

        <p style="color: red;"
           *ngIf="!input.pending && input.invalid && input.hasError('invalidUserName')"
        >
            Este usuário não existe!
        </p>
    </div>

    <p>Valido: {{ input.valid }} </p>
    <p>Tocado: {{ input.touched }} </p>
    <p>Sujo: {{ input.dirty }} </p>
    <p>Pendente: {{ input.pending }} </p>
</form>