<div class="card">
  <!-- <h1 class="ca-u-card-text-title">Sou o título do card!</h1> -->
  <h1 appCardTextTitle color="red">Sou o título do card!</h1>
  <app-card-text-title  color="green">Sou o título do card!</app-card-text-title>

  <!-- <h1 class="ca-u-card-text-subtitle">Sou o subtítulo do card!</h1> -->
  <h1 appCardTextSubtitle bgColor="yellow">Sou o subtítulo do card!</h1>
  <app-card-text-subtitle>Sou o subtítulo do card!</app-card-text-subtitle>

  <!-- <h1 class="ca-u-card-text-description">Sou a descrição do card!</h1> -->
  <h1 appCardTextDescription textDecoration="underline">Sou a descrição do card!</h1>
  <app-card-text-description>Sou a descrição do card!</app-card-text-description>

</div>

<img appCardAvatarSmall src="images/lhaminha.jpg" alt="">

<app-card-avatar-small>
  <img src="images/lhaminha.jpg" alt="">
</app-card-avatar-small>

<img appCardAvatarLarge src="images/lhaminha.jpg" alt="">

<app-card-avatar-large>
  <img src="images/lhaminha.jpg" alt="">
</app-card-avatar-large>