@charset "UTF-8";

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans";
}

// Variables

$Very-dark-desaturated-blue: #1c1d36;
$Soft-red: #f47c57;
$Very-dark-grayish-blue: #4a4b5e;
$Dark-grayish-blue: #787887;
$Border: #7878872e;
$Light-grayish-blue: #e7e7e9;
$Soft-violet: #af67e9;
$Soft-blue: #6666e8;
$Bg-gradient: linear-gradient(to top, $Soft-blue, $Soft-violet);
$White: #fff;
$Black: #000;

$font-size: 12px;
$Kumbh-Sans: "Kumbh Sans", sans-serif;

// Mixins

@mixin question {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    font-weight: 500;
    text-align: start;
}

@mixin answer {
    display: none;
    color: $Dark-grayish-blue;
	opacity: 70%;
    font-size: 0.8em;
    font-weight: 500;
}

// Styles

body {
    background: $Bg-gradient no-repeat;
    background-size: cover;

    .principal {
        display: flex;
        flex-direction: column;
		justify-content: center;
        background-color: $White;
        border-radius: 20px;
        padding: 1.5em;
        margin: 8em 1.5em 1em;
		max-width: 500px;
		@media (min-width: 550px) {
			margin: 8em auto 1em;			
		}
		@media (min-width: 1440px) {
			flex-direction: row;
			max-width: 1000px;
		}
        .text {
        padding-bottom: 1.2em;
		}
        .imagens {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110px;
        }
        .img-shadow {
        margin: auto;
        width: 250px;
        }
        .image {
        width: 250px;
        transform: translateY(-220px);
        }
        .titulo {
        padding: 0.7em;
        text-align: center;
        }
        .questions {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .border-bottom {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 1em 0;
            border-bottom: 1px solid $Border;
            .arrow-down {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            &:hover {
                cursor: pointer;
                color: $Soft-red;
            }
			img {
				transform: rotateX(0deg)
			}
            }
        }

        .question {
            @include question;
        }

        .answer {
            @include answer;
        }
        }
    }

	.footer {
		color: $Light-grayish-blue;
		font-size: .8em;
		text-align: center;
		padding: 1.5em;
		a {
			text-decoration: none;
			color: $Soft-red;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}