@charset "UTF-8";

body {
    background-color: rgba(69, 6, 128, 0.664);
    color: #ffffff;
    font: normal 15px Arial;


}

:root {
    --cor1: rgb(16, 55, 120);
    --cor1: rgb(255, 122, 72);
    --cor1: rgb(5, 147, 162);
    --cor1: rgb(255, 49, 49);

}