@use 'variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .menu {
        #menu-checkbox {
            display: none;
            &:checked~.menu-list {
                right: 0%;
                width: 60vw;
                height: 100vh;
                // display: block;
            }
        }
        .menu-list {
            position: absolute;
            opacity: 0;
            display: none;
            background-color: variables.$Off-white;
            display: grid;
            grid-template-rows: repeat(5, 25px);
            padding: 7rem 0 0 1.5rem;
            gap: 1rem;
            font-size: 1.1rem;
            font-weight: 500;
            .menu-list-item {
                list-style-type: none;
            }
        }
    }
}