<div class="step-one">
    <app-steps-title-and-description
        [title]="'Personal info'"
        [description]="'Please provide your name, email address and phone number'"
    ></app-steps-title-and-description>

    <div class="step-one__container">
        <div class="step-one">
            <label for="name"> Name </label>
            <input
                type="text"
                name="name"
                id="name"
                placeholder="e.g. Stephen King"
                ngModel
                #name="ngModel"
                required
            >
        </div>
        
        <div class="step-one">
            <label for="email"> Email Address </label>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="e.g. stephenking@lorem.com"
                ngModel
                #email="ngModel"
                required
            >
        </div>
        
        <div class="step-one">
            <label for="phone"> Phone Number </label>
            <input
                type="number"
                name="phone"
                id="phone"
                placeholder="e.g. +1 234 567 890"
                ngModel
                #phone="ngModel"
                required
            >
        </div>
    </div>
</div>