<button routerLink="/componente-um" [queryParams]="{ nome: 'Daniel', idade: 34 }">Redirecionar Daniel</button>
<button routerLink="/componente-um" [queryParams]="{ nome: 'Ana', idade: 30 }">Redirecionar Ana</button>

<button routerLink="/componente-um" [queryParams]="{ status: 'ativo' }" queryParamsHandling="merge">Redirecionar mergeando</button>
<button routerLink="/componente-dois" queryParamsHandling="preserve">Redirecionar preservando</button>

<button routerLink="/generic-user">User</button>
<button routerLink="/generic-admin">Admin</button>

<router-outlet></router-outlet>