.btn-deletar {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}