<main class="grid gap-8 py-8 px-4 bg-opacity-5 bg-yellow-100">
  <app-five-stars-card></app-five-stars-card>
  <app-multiple-platforms-card></app-multiple-platforms-card>
  <app-consistent-schedule-card></app-consistent-schedule-card>
  <app-schedule-posts-card></app-schedule-posts-card>
  <app-grow-followers-card></app-grow-followers-card>
  <app-audience-growth-card></app-audience-growth-card>
  <app-create-post-card></app-create-post-card>
  <app-ai-content-card></app-ai-content-card>
</main>