@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;700;800&display=swap');

:root {
    --color-light-red: #ff5757;
    --color-orange-yellow: #ffb01f;
    --color-green-teal: #00bd91;
    --color-cobalt-blue: #1125d4;
        
    --color-light-slate-blue: #7857ff;
    --color-light-royal-blue: #2e2be9;
    
    --color-violet-blue: #4e21ca;
    --color-persian-blue: #2421ca00;

    --color-white: #ffffff;
    --color-pale-blue: #ebf1ff;
    --color-light-lavender: #c8c7ff;
    --color-dark-grey-blue: #303b5a;

    --font-hanken-grotesk: 'Hanken Grotesk';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-hanken-grotesk);
}

/* body {
} */

.section01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, var(--color-light-royal-blue), var(--color-light-slate-blue));
    color: var(--color-white);
    border-radius: 0 0 30px 30px;
    padding: 1em;
}

.section01-title {
    font-size: .8em;
    font-weight: 400;
    color: var(--color-light-lavender);
}

.section01-circle {
    background-image: linear-gradient(to top, var(--color-persian-blue), var(--color-violet-blue));
    border-radius: 50%;
    width: 105px;
    padding: 1.2em;
    margin: 1em 0;
}

.section01-circle > h2 {
    font-size: 2.5em;
}

.section01-circle > p {
    font-size: .7em;
    font-weight: 400;
    color: var(--color-light-lavender);
}

.section01-title02 {
    font-size: 1.2em;
    font-weight: 600;
}

.section01-paragraph {
    font-size: .8em;
    color: var(--color-light-lavender);
    padding: .7em 5em 1em;
}





























































































































