
:root {
    --Red-Hat-Text: "Red Hat Text", sans-serif;
    --Red: #c73a0f;
    --Red-opacity: #e67e5e;
    --Green: #1ea475;
    --Rose-50: #fcf9f7;
    --Rose-100: #f4edeb;
    --Rose-300: #c9aea6;
    --Rose-400: #ad8985;
    --Rose-500: #87635a;
    --Rose-700: #87635a;
    --Rose-900: #260f08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

body {
    background-color: var(--Rose-50);
}

main {
    padding: 1.25rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
}

.desserts-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.85rem 0;
    /* max-width: 820px; */
}

.desserts-list-item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 327px;
}
 
.picture-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dessert-picture {
    width: 100%;
    border-radius: 10px;
}
.add-to-card-btn {
    border: 1px solid var(--Red);
    border-radius: 30px;
    background-color: var(--Rose-50);
    font-size: .9rem;
    position: absolute;
    bottom: -17px;
    overflow: hidden;
    min-width: 150px;
}
.btn-content {
    padding: .7rem 1.8rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    font-weight: 600;
    transition: color .2s ease;
}
.btn-content:hover {
    color: var(--Red);
}
.add-or-remove-item {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--Red);
    color: white;
}

.add-or-remove-item button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color .2s ease;
    background: url(./assets/images/icon-decrement-quantity.svg) no-repeat center center;
    background-position: 4.5px 8.5px;
}

.add-or-remove-item button:hover {
    background-image: url(./assets/images/icon-decrement-quantity-red.svg);
    background-color: var(--Rose-50);
}

.add-or-remove-item button:nth-of-type(2) {
    background: url(./assets/images/icon-increment-quantity.svg) no-repeat center center;
    background-position: 4.75px 4.5px;
}

.add-or-remove-item button:nth-of-type(2):hover {
    background-image: url(./assets/images/icon-increment-quantity-red.svg);
    background-color: var(--Rose-50);
}

.add-or-remove-item img {
    height: 12px;
    width: 12px;
    opacity: 0;
}

.description-and-price {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.dessert-type {
    font-size: 0.85rem;
    color: var(--Rose-400);
}

.dessert-name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--Rose-900);
}

.dessert-price {
    color: var(--Red);
    font-weight: 600;
}





@media screen and (min-width: 1200px) {
    main {
        padding: 2rem 1rem;
        flex-direction: row;
        gap: .9rem;
        align-items: start;
    }
    .desserts-list-item {
        max-width: 250px;
    }
}