@if (data$ | async; as data) {
    @if (data.isLoading) {
        <app-loading/>
    }

    @if (data.error) {
        <app-error-message [message]="data.error" />
    }

    @if (data.popularTags) {
        <div class="sidebar">
            <p>Popular tags</p>
            <div class="tag-list">
                @for (popularTag of data.popularTags; track $index) {
                    <a [routerLink]="['/tags', popularTag]" class="tag-default tag-pill">
                        {{ popularTag }}
                    </a>
                }
            </div>
        </div>
    }
}
