.link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--cor-fonte-principal);
  cursor: pointer;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.underlined {
  background-color: #00800031;
}
