<div class="user-details">
    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-headline-medium">Detalhes do usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Nome: <span class="user-data">Fulano</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Email: <span class="user-data">oxe&#64;teste.com</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Telefone: <span class="user-data">(11) 98888-5555</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Endereço: <span class="user-data">Rua Fulano, 42, São Paulo - SP</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Ativo: <span class="user-data">Sim</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Função: <span class="user-data">Desenvolvedor FrontEnd</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Data de cadastro: <span class="user-data">14/09/2024</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>

