<div class="user-details">
    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-headline-medium">Detalhes do usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Nome: <span class="user-data">{{ user.nome | dashEmpty}}</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Email: <span class="user-data">{{ user.email | dashEmpty }}</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Telefone: <span class="user-data">{{ user.telefone | phone }}</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Endereço: <span class="user-data">{{ user.endereco | endereco }}</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Status: <span class="user-data">{{ user.ativo | status }}</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Função: <span class="user-data">{{ user.funcao | dashEmpty}}</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Data de cadastro: <span class="user-data">{{ user.dataCadastro | dataCadastro | dashEmpty }}</span></span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>

