<div class="operations">
    <div class="operations__filter">
        <input class="operations__filter-input" type="text" placeholder="Filtrar por Nome" [(ngModel)]="searchTerm">
    </div>
    <div class="operations__table">
        <table>
            <thead>
                <tr>
                    <th class="operations__table-cell operations__table-cell--white">Nome</th>
                    <th class="operations__table-cell operations__table-cell--white">Status Cliente</th>
                    <th class="operations__table-cell operations__table-cell--white">Data Operação</th>
                    <th class="operations__table-cell operations__table-cell--white">Hora Operação</th>
                    <th class="operations__table-cell operations__table-cell--white">Valor Operação</th>
                    <th class="operations__table-cell operations__table-cell--white">Risco Operação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of (usersObs | async) | filterUsers : 'customerName' : searchTerm ">
                    <td class="operations__table-cell"> {{ user.customerName }} </td>
                    <td class="operations__table-cell">
                        <p class="operations__status">
                            {{ user.customerStatus | status }}
                            <img [src]="user.customerStatus | statusIcon" class="operations__icon" width="20" height="20" />
                        </p>
                    </td>
                    <td class="operations__table-cell">{{ user.operationDate | date : "dd/MM/YYYY" }}</td>
                    <td class="operations__table-cell">{{ user.operationDate | date : "HH:mm aa" }}</td>
                    <td class="operations__table-cell">{{ user.operationValue | currency : "BRL" }}</td>
                    <td class="operations__table-cell">{{ user.operationRisck | percent : "1.0-2"}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
